@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,200&display=swap');
*
{
     margin: 0;
    padding: 0; 
      box-sizing: border-box;
   
} 

html{
    font-family: 'Raleway', sans-serif;
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
}
header{
    width: 100vw;
    height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1531297484001-80022131f5a1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1307&q=80);
    background-size: 100% 100%;
    background-repeat:no-repeat;
     position: relative;
     
}
header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .3;
    z-index: -1;
}
.navbar::before{
    content:"";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: .2;
    z-index: -1;
}

.main-div {
    /* position: relative; */
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
}
.center-div {
    position: absolute;
    width: 100%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    -ms-transform: translate(-50% , -50%);
    -webkit-transform: translate(-50% , -50%);
}
.center-div h1{
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 500;
    color: #f6f6f6;
    padding:20px 0;
}
.center-div p{
    font-size: 2rem;
    text-align: center;
    font-weight: 400;
    padding-bottom: 10px;
    margin-bottom: 4rem;
    color: #bebebe
}
.main-btn{
    position: relative;
}
.main-btn .btn1 {
    border: 2px solid #FFF;
    padding: 1.5rem 5rem;
    border-radius: 2rem 2rem 3rem 3rem;
    list-style: none;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #f6f6f6;
    cursor: pointer;
    transition: .5s ease;
}

.btn1:hover{
    color: yellow;
    border-color: yellow;
    transform: translateY(-20px);
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.4);
}
nav .navbar-brand{
    margin: 2.5rem 3rem;
    font-size: 3rem;
    text-transform: uppercase;
}
nav .nav-item {
    margin-left: 5rem;
    font-size: 1.5rem;
    text-transform: uppercase; 
}
.nav-item a:hover{
    color: #c2c21f!important;
}

/* ////////sec  section/// */

.sec-header {
    width: 100vw;
    height: 100vh;
    
}
.offers h1{
    text-align: center;
    margin: 10rem 0;
    font-size: 5rem;
    text-transform:capitalize;
    font-weight: 600;
}
.finger h1{
    text-align: center;
    text-transform: uppercase;
    font-size: 3rem;
    padding-bottom: 40px;
}
.finger p{
    font-size: 1.8rem;
    font-weight: 400;
}
.finger .learn {
    text-align:center;
    font-weight: 600;
    border: 1px solid #fff;
    color: #f6f6f6;
    border-radius: 2rem 0 2rem 0;
    background: blue;
    outline: none;
    font-size: 1.6rem;
    padding: 1rem 3rem;
    transition:.5s ease;   
}
.learn:hover{
    color: blue;
    background: #cfcfcf;
    border-radius:blue;
    box-shadow: 0 0 30px 0 rgba(0,0,0,0.4);
    transform: translateY(-10px);
}
.learn:active{
    font-size: 1.8rem;
}
.side-img img{
    border-radius:5rem 0 5rem 0 ;
}
.template{
    width: 100vw;
    height: 100vh;
}
.temp-head{
    margin: 5rem;
    text-align: center;
}
.temp-head h1{
    font-size: 4rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #807e7e;
}
.temp-head p{
    font-size: 1.6rem;
    font-weight: 400;
    text-transform: uppercase;
    margin: 2.5rem 0;
    color: #565657;
}


/* .,.,.,.,.,.third sec,/., */



.img-con {
    position: relative;
    margin: 4rem 0;
    
}
.img-con img{
    transition: .3s ease;
    border-radius: .5rem;
    
}
.img-con :not(img){
    position: absolute;
    z-index: 1;
    text-align: center;
    color: #f0ebeb;
    bottom:50%;
    left: 30%;
}

.img-con p{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 900;
    text-transform: uppercase;
    /* opacity: 0; */
}
.img-con button {
    text-align: center;
    outline: none;
    border-radius: 1rem 1rem 0rem 0;
    font-size: 1.3rem;
    padding: .8rem 1.5rem;
    background: blue;
    color: #fff;
    border-color: #fff;
    bottom: 30%;
}
.img-con .hide:hover{
    color: blue;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.4);
}
.img-con p,.hide{
    visibility: hidden;
}

.img-con:hover img{
    filter: blur(3px);
    cursor: pointer;
}
.img-con:hover p{
    visibility: visible;
}
.img-con:hover .hide{
    visibility: visible;
}


/* ///////fourth */
.user{
    width: 100vw;
    height: auto;
    margin-top: 25rem;
    text-align: center;
}
.user-head{
    margin: 10rem 0 6rem  0;
    text-align:center;
}
.user-head h1{
    text-transform: uppercase;
    font-size: 2.3rem;
    font-weight: bold;
    margin: 2rem;
}
.user-head p{
    font-size: 1.5rem;
    font-weight: 500;
}
.user .fas{
    margin:2rem ;
    color: #dfdf1c;
}
.user h2{
    text-transform: uppercase;
    margin: 2rem;
    font-size: 2rem;
}
.user p{
    font-size: 1.5rem;
    font-weight: 400;
}

/* next//// */
.service {
    width: 100vw;
    height: 100vh;
    margin-top: 8rem;background: #333;
}
.colm img{
    width: 60rem;
    height: 50rem;
    border-radius: 2rem;
    margin: 10rem 3rem 3rem 0rem;
    box-shadow: 3rem 2rem 3rem 3rem hsla(0, 0%, 0%, 0.2);
}
.ser-head {
    width: 100%;
    height: 100%;
    
}
.ser-head h1{
    font-size: 3.6rem;
    text-align: center;
    color: #f6f6f6;
    font-weight: 500;
    margin-top: 4rem;
}
.ser-head p{
    color: #f6f6f6;
    font-size: 1.7rem;
    margin-top: 2rem;
    margin-right: 2rem;
}

.animate{
    margin-left: 10rem;
    margin-top: 3rem;
    padding: 0;
    display: flex;
}
.animate li{
    position:relative;
     list-style: none;
     width: 70px;
     height: 70px;
     margin: 0 10px;
     border-radius: 50%;
     box-sizing: border-box;
     cursor: pointer;
}
.animate li::before,
.animate li::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    border-radius: 50%;
    filter: blur(20px);
    opacity: 0;  
    transition: .5s; 
    
}
.animate li:after{
    filter: blur(40px);
}
.animate li:hover::before,
.animate li:hover::after{
    opacity: 1;
}
.animate li a{
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom:10px;
    text-align: center;
    line-height: 50px;
    color: #fff;z-index: 1;
    background: #000;
    font-size: 23px;
    border-radius: 50%;
}
.animate li a .fab{
    text-shadow: 0 2px 5px rgba(0,0,0,0.2);
    transition: .5s;
    transform: rotateY(0deg) scale(.8s);
    opacity: .2;
}
.animate li a:hover .fab{
    opacity: 1;
    transform: scale(1.2);
}
.animate li:nth-child(1) a,
.animate li:nth-child(1):before,
.animate li:nth-child(1)::after{
    background: linear-gradient(45deg,#ff0057,#e64a19);
}

.animate li:nth-child(2) a,
.animate li:nth-child(2):before,
.animate li:nth-child(2)::after{
    background: linear-gradient(45deg,#89ff00,#00bcd4 );
}

.animate li:nth-child(3) a,
.animate li:nth-child(3):before,
.animate li:nth-child(3)::after{
    background: linear-gradient(45deg,#ff0000,#ffc107);
}

.animate li:nth-child(4) a,
.animate li:nth-child(4):before,
.animate li:nth-child(4)::after{
    background: linear-gradient(45deg,#e91e63,#5d02ff);
}

/* fifth// */
.sub{
    width: 100vw;
    height: auto;
    position: relative;
    margin-top:15rem;
    
}
.sub .sample{
    height: 400px;
    width: 100%;
    background: #0099ff;
}
.sub .input-group {
    display: inline-block;
    margin-top: 15rem;
    position: absolute;
    top: 0;   
    margin-left: 15rem;
}
.sub svg{
    position: absolute;
    top: 0%;
    bottom: 0%;
    width: 100vw;
}
.sub .input-group .form-control{
    width: 72rem;
    height: 50px;
    border-radius: 0 3rem 3rem 0rem;
}
.sub label{
    font-size:2.5rem;
    font-weight: 500;
    margin:0rem 0rem 2rem 5rem;
    color: #292727;
    text-align: center;
    padding-left:10rem;
    
}
.input-group input{
    font-size: 2rem;
    border: 2px solid #00000033;
}
#basic-addon2{
    border: 2px solid #fff;
    margin: 2rem 0 0 3rem;
    padding: 1rem 4rem;
    font-size: 2rem;
    border-radius:3rem ;
}
#basic-addon2:hover{
    background: blue;
    color: #fff;
    border-color: #fff;
    cursor: pointer;
}

/* next... */
.team{
    width:100vw;
    height: 100vh;
    margin-top: 16rem;
}
.team-head{
    margin: 5rem;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 3rem;
}
.team-head h1{
    font-size: 4rem;
    font-weight: 500;
    color: #706e6e;
    
}
.team-head p{
    font-size: 1.6rem;
    color: #706e6e;
}

/* ././. */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin-top: 10rem;
    
    text-align: center;
    font-family: arial;
    transition: .5s;
  }
  .card:hover{
    box-shadow: .6rem .6rem .6rem .6rem rgba(0,0,0,0.3);
      transform: translateY(-20px);
  }
  
  .title {
    color: grey;
    font-size: 18px;
  }
  .card h1{
      text-transform: uppercase;
  }
  
  .btn-new {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .at {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  .btn-new:hover, .at:hover {
    opacity: 0.7;
  }
  .para{
      font-size: 2rem;
  }

  /* footer/? */

  footer{
      width: 100vw;
      height: 50vh;
      background: #333;
      margin-top: 10rem;
  }
  footer .serve h4{
      color: #f6f6f6;
      font-size: 2rem;
      text-align: center;
      text-transform: uppercase;
      margin: 2rem;
      margin-top: 3rem;
  }
  footer .serve p{
      margin: 3rem;
      font-size: 1.4rem;
      color: #f6f6f6;
      line-height: 1.8;
  }
  footer .contact h3{
      margin: 3rem;
      color: #f6f6f6;
      text-transform: uppercase;
      text-align: center;
      font-size: 2.4rem;
  }
 footer ul{
     align-items: center;
}
footer ul li{
    list-style: none;
    padding-left: 8rem;
    /* text-align: center; */
    text-transform: capitalize;
    line-height: 2;
    color: #f6f6f6;
    font-size: 1.5rem;
    cursor: pointer;
}
footer li:hover{
    font-size: 2.6rem;
    color: blue;
}

.form h1{
    text-transform: uppercase;
    margin: 2.2rem;
    color:#f6f6f6;
}
.form p{
    font-size: 1.5rem;
    font-weight: 400;
    margin: 2rem;
    color: #f6f6f6;
    line-height:2
}
footer input{
    padding-left: 1rem;
}
.use input{
    width: 250px;
    height: 40px;
    font-size: 1.4rem;
    outline: none;
    box-shadow: 2rem 2rem 2rem 2em rgba(0, 0, 0, 0.2);

}
.use button{
    padding: .6rem 1.5rem;
    outline: none;
    font-size: 1.4rem;
}
.use button:hover{
    color:#fff;
    background: blue;
}
/* /////////////////////////media query/// */

@media only screen and (max-width: 768px){
    html{
        overflow-x: hidden;
        scroll-behavior: smooth;
    }
    header .navbar-toggler-icon{
        background: #d3d60d;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        font-size: 1.6rem;
        border: 2px solid#fff;
    }
    header .navbar-toggler{
        outline: none;
        border:none;
        z-index: 1;
    }
    header .nav-item{z-index: 567;
        text-align: center;
        border: 1px solid #fff;
        margin: .5rem 7rem;  position: relative;
    }
    header .navbar-brand{
        font-size: 2rem;
    }
    .main-div .center-div{
        padding-bottom: 10rem;
        position: absolute;
        top: 55%;
        bottom: 50%;
    }
    .main-div h1{
        font-size: 2rem;
    }
    .main-div p{
        font-size: 1.2rem;
    }
    .main-div .btn1{
        font-size: 1.2rem;
        padding: 1rem 4rem;
    }

    /* second/// */
    .offers h1{
        font-size: 3rem;
        overflow-y: hidden;
    }
    .finger h1{
        font-size: 1.5rem;
    }
    .finger p{
        font-size: 1.2rem;
    }
    .finger .learn{
        font-size: 1rem;
        padding: .6rem 1.2rem;
        float: right;
    }
    .side-img{
        margin:4rem 0 ;
    }
    /* ///next// */
    
    .template{
        margin-top: 20rem;
        overflow-y: hidden;
        height:100%;
    }
    .temp-head h1{
        font-size: 1.4rem;
        font-weight: bold;
    }
    .temp-head P{
        font-size: 1rem;
    }
    .img-con p{
        font-size: 1.2rem;
        margin: 2rem auto;
        text-align: center;
    }
    .img-con{
        margin-left: 3rem;
    }
    /* //////next section./ */
    .user{
        margin: 20rem 0;
    }
    .user-head h1{
        font-size: 1.6rem;
    } 
    .user-head p{
        font-size: 1rem;
    }
    .user .fas{
        font-size: 5rem;
    }
    .user  h2{
        font-size: 1.5rem;
    }
    .user .set{
        font-size: 1.3rem;
    }
    .service{
        width: 100vw;
        height: 100%;overflow: hidden;
    }
    .service .colm img{
        width: 100%;
        height: 100%;
        border-radius:0;
    }
    .service .ser-head {
        width: 100%;
        height: 100%;
    }
    .service .ser-head h1{
        font-size: 1.7rem;
    }
    .ser-head p{
        font-size: 1rem;
        text-align: center;
    }
    .ser-head .animate{
        width: 100%;
        float: left;
        
    }
    .animate li{
        margin: 0;
        width: 4.5rem;
        height: 4.5rem;
        /* align-items: center; */
    }
    .ser-head .animate li a{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        text-decoration: none;
        font-size: 1.2rem;
    }
    .sub{
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    .sub .sample{
        height:300px;
    }
    .sub .input-group{
        /* padding-left: -15rem; */
        position: absolute;
        margin-left: 2rem;
    }
    .sub .input-group .form-control{
        width: 25rem;
        height: 3.5rem;
        font-size: 1rem;
    }
    .sub .input-group label{
        font-size: 1.3rem;
        padding-left: 0rem;
    }
    .input-group #basic-addon2{
        font-size: 1.3rem;
        padding:.5rem 3rem;

    }
    .team{
        width: 100%;
        height:100%;
        overflow-y:hidden;
        margin-top: 3rem;
    }
    .team-head h1{
        font-size: 3rem;
    }
    .team-head p{
        font-size: 1.2rem;
    }
    .team .card{
        overflow-y:hidden;
        margin: 4rem auto;
    }
    footer{
        height:100%;
        width: 100%;
        overflow: hidden;
    }
    footer ul li {
        padding-left: 6rem;
    }
    footer .form{
        align-items: center;
    }
    footer .use{
        padding: 4rem;
    }
    footer input{
        margin-bottom: 2rem;
        
    }
   
}
